PIPELINE_VERSION=1.0.0

# Entorno
ENV=dev
DEPLOY=deploy
DEBUG=False
LOG_LEVEL=INFO

#Docker 
IMAGE_VERSION=1.0.0
IMAGE_NAME_FASTAPI=renovacion_prestamo-fastapi-image
DOCKER_FASTAPI_NAME=renovacion_prestamo-fastapi
IMAGE_NAME_TRAINING=renovacion_prestamo-training-image
DOCKER_TRAINING_NAME=renovacion_prestamo-training
IMAGE_NAME_MLFLOW=renovacion_prestamo-mlflow-image
DOCKER_MLFLOW_NAME=renovacion_prestamo-mlflow
IMAGE_NAME_DVC=renovacion_prestamo-dvc-image
DOCKER_DVC_NAME=renovacion_prestamo-dvc
IMAGE_NAME_GCP_VERTEXAI=renovacion_prestamo-gcp_vertexai-image
DOCKER_GCP_VERTEXAI_NAME=renovacion_prestamo-gcp_vertexai
IMAGE_NAME_EVIDENTLY=renovacion_prestamo-evidently-image
DOCKER_EVIDENTLY_NAME=renovacion_prestamo-evidently

# API
APP_NAME=Renovacion_Prestamo
APP_VERSION=1.0.0
APP_NETWORK_NAME=renovacion_prestamo-net
PORT_LOCAL=8085
PORT_REMOTE=8000

# MLflow
PIPELINE_VERSION=1.0.0
MLFLOW_PORT=5000
MLFLOW_TRACKING_URI=http://mlflow_service:5000
MLFLOW_TRACKING_URI_DOCKER=http://0.0.0.0:5000
MLFLOW_EXPERIMENT=renovacion_prestamo_mlflow_experiment

# Modelo
MODEL_VERSION=latest
MODEL_NAME=RenovacionPrestamo
UMBRAL_MIN=0.60

# EVIDENTLY
EVIDENTLY_PORT_LOCAL=8080
EVIDENTLY_PORT_REMOTE=8000

# Seguridad para GitHub Actions
SECRET_KEY=SECRET_KEY*

#AWS S3 Bucket con ACCESS KEY (Estandar de AWS)
AWS_ACCESS_KEY_ID=AWS_ACCESS_KEY_ID*
AWS_SECRET_ACCESS_KEY=AWS_SECRET_ACCESS_KEY*
AWS_DEFAULT_REGION=REGION-CLUSTER-AWS
AWS_S3_BUCKET=NOMBRE-PROYECTO-AWS-REGION-CLUSTER
#AWS_S3_BUCKET=amzn-s3-renovacion-prestamo-us-east-2-an
AWS_RAW_FILE=raw_renovacion_prestamo.csv
AWS_PROCESSED_FILE=processed_renovacion_prestamo.csv
LOCAL_DIR_RAW=./data/raw
LOCAL_DIR_PROCESSED=./data/processed

#GCP Bucket and Vertex AI - Credenciales ADC o Service Accounts (.json)
GOOGLE_APPLICATION_CREDENTIALS=/workspace/credentials/application_default_credentials.json
GCP_PROJECT_ID = NOMBRE-PROYECTO-GCP
GCP_DEFAULT_REGION = REGION-CLUSTER-GCP
GCP_BUCKET = NOMBRE-PROYECTO-GCP-models
GCP_ARTIFACT_REGISTRY = NOMBRE-PROYECTO-GCP-artifacts
GCP_DESTINATION=gs://NOMBRE-PROYECTO-GCP-models/models
GCP_CONTAINER_IMAGE_URI=us-docker.pkg.dev/vertex-ai/prediction/xgboost-cpu.2-1:latest #Imagen del modelo entrenando en Vertex AI
GCP_ARTIFACT_REGISTRY_URI=GCP_DEFAULT_REGION-docker.pkg.dev/NOMBRE-PROYECTO-GCP/NOMBRE-PROYECTO-GCP-artifacts-379103785237
#GCP_ARTIFACT_REGISTRY_URI=us-west1-docker.pkg.dev/renovacion-prestamo/renovacion-prestamo-artifacts
GCP_MODEL_DIR = ./artifacts
GCP_MODEL_PKL_NAME = model.pkl
GCP_MODEL_SKOPS_NAME = model.skops
GCP_MODEL_JSON_NAME = model.json

